* {
	box-sizing: border-box; }

body {
	margin: 0;
	padding: 4%;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.6em;
	font-weight: 200;
	line-height: 1.5;
	overflow: hidden;
	color: #222; }

h1 {
	font-family: "Baskerville", "Times", serif;
}

#track {
	border: 0;
	border-bottom: 1px solid #999; }

img {
	border-radius: .2rem;
	float: right;
	max-width: 60%; }

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-style: solid;
  border-width: 1px;
  border-radius: .3rem; }

.track {
	line-height: 1.5rem;
	border-radius: .5rem; }
